.our-services {
  max-width: 1440px;
  /* height: 428px; */
  padding: 100px 0 0 !important;
  display: flex;
  justify-content: center;
  gap: 86px;
}

.our-services .img-services img {
  position: relative;
  /* display: flex; */
  width: 459px;
}

.our-services .desc {
  display: flex;
  flex-direction: column;
  max-width: 468px;
  gap: 16px;
}

.our-services .desc h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 6px;
}

.our-services .desc p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  margin: 0;
}

.our-services .desc .services {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-services .desc .services .services-desc {
  display: flex;
  gap: 16px;
  align-items: center;
}

.our-services .desc .services img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 360px) {
  .our-services {
    display: block;
    margin-top: 60px;
  }

  .our-services .img-services {
    /* margin: auto; */
    text-align: center;
  }

  .our-services .img-services img {
    width: 252px;
  }

  .our-services .desc {
    margin-top: 15px;
    padding: 0px 16px !important;
  }
}
