.cta-banner {
  display: flex;
  /* justify-content: center; */
  max-width: 1440px;
  margin: auto;
  padding: 100px 0 0 !important;
}

.cta-banner .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1168px;
  height: 326px;
  border-radius: 13px;
  background-color: #0d28a6;
  color: white;
  margin: 0 auto;
}

.cta-banner h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 150%; /* 54px */
  margin: 64px auto 0;
}

.cta-banner .text {
  margin: 16px auto 52px;
  width: 468px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 52px;
}

.cta-banner .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  width: 140px;
  height: 20px;
  padding: 8px 12px !important;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  background-color: #5cb85f;
  cursor: pointer;
  color: white;
  box-sizing: content-box !important;
}

.cta-banner .container button {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  background-color: #5cb85f;
  border: none;
  color: white;
}

.cta-banner .container a button {
  margin: 0;
}

@media screen and (max-width: 360px) {
  .cta-banner {
    display: block;
    width: auto;
  }
  .cta-banner .container {
    width: 328px;
    height: auto;
    margin: 0 16px 40px;
    padding-bottom: 60px !important;
  }

  .cta-banner .container .text {
    width: 212px;
  }
}
