* {
  padding: 0 !important;
  margin: 0;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  background-color: #f1f3ff;
  padding: 25px 136px 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.navbar .logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

.navbar .nav-list {
  display: flex;
  gap: 32px;
  align-items: baseline;
}

.navbar .nav-list a {
  color: black;
  text-decoration: none;
}

.navbar .nav-list p {
  margin-bottom: 0;
}

.navbar .nav-list .register {
  background-color: #5cb85f;
  color: white;
  padding: 8px 12px !important;
  border-radius: 2px;
}

/* MEDIA QUERY  */
@media screen and (max-width: 360px) {
  .navbar {
    padding: 24px 0 24px 16px !important;
  }

  .navbar .nav-list {
    display: none;
  }
}
