.sidebar .button {
  display: none;
  background-color: #f1f3ff;
  color: black;
  font-size: 24px;
  font-weight: 700;
  border: none;
  margin-right: 16px !important;
}

.sidebar .button:hover {
  background-color: #f1f3ff;
  color: black;
}

.offcanvas-header {
  padding: 34px 24px 18px 16px !important;
}

.offcanvas-body {
  padding: 16px !important;
}

.offcanvas-title {
  font-weight: 700 !important;
}

.offcanvas.offcanvas-end {
  width: 50% !important;
}

.list-menu a {
  text-decoration: none;
  color: black;
  font-size: 14px !important;
}

.register a {
  padding: 8px 12px !important;
  color: white;
}

.list-menu .register {
  background-color: #5cb85f;
  color: white;
  padding: 8px 12px !important;
  border-radius: 2px;
}

@media screen and (max-width: 360px) {
  .sidebar .button {
    display: flex;
  }

  .sidebar .list-menu {
    padding: 0 16px !important;
  }

  .sidebar .list-menu a {
    text-decoration: none;
    color: black;
  }
}
